.home {
  padding: 0 4rem;

  header {
    height: 6.5rem;

    display: flex;
    align-items: center;

    padding: 2rem 4rem;
    color: #FFF;

    p {
      margin-left: 2rem;
      padding: 0.25rem 0 0.25rem 2rem;
      border-left: 1px solid #4286eb;
    }

    span {
      margin-left: auto;
      text-transform: capitalize;
    }
  }
}

.allHeroes {
    padding-bottom: 2rem;
    padding-top: 2rem;
  
    table {
      width: 100%;
      text-transform: uppercase;

      tbody {
        width: 100%;
      }
  
      th, td {
        padding: 0.75rem 1rem;
        border-bottom: 1px solid #4286eb;
      }
  
      th {
        color: #FFF;
        //text-transform: uppercase;
        font: 500 0.875rem Lexend, sans-serif;
        text-align: left;
      }
  
      td {
        font-size: 500 0.75rem Lexend, sans-serif;
  
        img {
            width: 5rem;
            height: 3.5rem;
            border-radius: 50%
        }
  
        a {
          color: #494D4B;
          font-family: Lexend, sans-serif;
          font-weight: 600;
          text-decoration: none;
          line-height: 1.4rem;
          font-size: 1rem;
          cursor: pointer;
  
          &:hover {
            text-decoration: underline;
          }
        }        
      }
    }
}

.modalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d1117;
  text-align: center;

  p {
    margin-left: 55px;
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
  }

  .pick {
    color:cadetblue;
  }

  .ban {
    color: chocolate;
  }

  .win {
    color: green;
  }

  .loss {
    color: red;
  }

  button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: transparent;
    border: 0;
    color: honeydew;
    cursor: pointer;
    &:hover {
      filter: brightness(0.95);
    }
  }
}